<!DOCTYPE html>
<html>
<head>
  <title>Coffe Shop</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Bootstrap CSS -->
  <link href="bootstrap-5.1.3/bootstrap.min.css" rel="stylesheet">
  <!-- jQuery CSS -->
  <link href="jquery/jquery.simplecolorpicker.css" rel="stylesheet">
  <link href="jquery/jquery.datetimepicker.css" rel="stylesheet">
  
      <!-- Дополнительные JavaScripts -->
      <script src="bootstrap-5.1.3/popper.min.js"></script>
      <script src="bootstrap-5.1.3/bootstrap.min.js"></script>
      <!-- Дополнительные jQuery -->
      <script src="jquery/jquery.js"></script>
      <script src="jquery/jquery.simplecolorpicker.js"></script>
      <script src="jquery/jquery.datetimepicker.full.min.js"></script>
</head>
<body>
	<nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
        <li class="nav-item"><a href="/" class="nav-link link-dark px-2 active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/memory" class="nav-link link-dark px-2">Memory</a></li>
        <li class="nav-item"><a href="/visit" class="nav-link link-dark px-2">Visit</a></li>
        <li class="nav-item"><a href="/showusers" class="nav-link link-dark px-2">Show_Users</a></li>
        <li class="nav-item"><a href="/contacts" class="nav-link link-dark px-2">Contacts</a></li>
        <li class="nav-item"><a href="/about" class="nav-link link-dark px-2">About</a></li>
      </ul>
      <form class="col-12 col-lg-auto mb-3 mb-lg-0">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>
      <ul class="nav">
        <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Login</a></li>
        <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Sign up</a></li>
      </ul>
      <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="mdo" class="rounded-circle" width="32" height="32">
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div><%if @error && @error.length > 0 then %><div class="alert alert-danger"><%=@error%></div> <% end %>
    <!-- _____YIELD__BEGIN_____ --> <%= yield %>    <!-- _____YIELD__END_________ -->
  </div>
  </br></br>
  <h3>Наша доска почёта</h3>
  <div class="container-fluid pb-3">
    <div class="d-grid gap-3" style="grid-template-columns: 1fr 2fr;">
      <div class="bg-light border rounded-3">
        1<br>
        2<br>
        3<br>
        4<br>
        5<br>
      </div>
      <div class="bg-light border rounded-3">
        1<br>
        2<br>
        3<br>
        4<br>
        5<br>
      </div>
    </div>
		"Hello! <a href=\"https://github.com/bootstrap-ruby/sinatra-bootstrap\">Original</a> pattern has been modified for <a href=\"http://rubyschool.us/\">Ruby School</a> !!!"
  </div>
</body>
</html>
